<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--学校模块声明-->

    <!--声明school对象-->
    <bean id="mySchool" class="com.imust.ba06.School">
        <property name="name" value="丐帮北丐"/>
        <property name="address" value="大宋朝"/>
    </bean>

</beans>